.box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box .box-content {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
    min-height: auto;
}